@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../assets/fonts/Montserrat-Bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../assets/fonts/Roboto-Regular.ttf);
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../assets/images/background.png) no-repeat center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

body:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background-color: #002855;
    z-index: 2;
    }

.form {
    width: 920px;
    height: 820px;
    background-color: #ffffff;
    box-shadow: 0px 0px 36px 4px rgba(44,22,29,0.3);
    border-radius: 30px;
    position: relative;
    z-index: 3;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::before {
    position: absolute;
    content: url(../assets/images/wave-line.png);
    bottom: 152px;
    left: 425px;
}

.header::after {
    position: absolute;
    content: url(../assets/images/wave-line.png);
    bottom: 20px;
    left: 420px;
}

.header__button {
    width: 35px;
    height: 35px;
    background-color: #e10101;
    border-radius: 50%;
    border: none;
    background-image: url(../assets/images/х.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -18px;
    position: relative;
}

ul {
    list-style: none;
    }

    .header__breadcrumbs {
    font-size: 12px;
    line-height: 12px;
    display: flex;
    gap: 30px;
    margin-top: 50px;
    }

    .header__link {
    text-decoration: none;
    color: #b8b9b9;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
    line-height: 12px;
    position: relative;
    }

    .header__link--active {
    color: #767777;
    }

    .header__title {
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 38px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #0e1010;
    position: relative;
    }

    .main {
    width: 920px;
    height: 432px;
    background-color: #f8f8f8;
    box-shadow: inset 0px 0px 9px 0px rgba(1,1,1,0.16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    input {
    width: 500px;
    height: 40px;
    border: 2px solid #ebebeb;
    padding-left: 25px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #bdbdbd; /*не работает*/
    resize: none;
    margin-bottom: 20px;
    }

    input:hover {
    background-color: lightsteelblue;
    /*outline: none;*/
    border: 2px solid #b3cbda;
    color: #5a5b5b;
    outline: 1px solid rgb(2, 129, 119);
    }

    textarea {
    width: 500px;
    height: 147px;
    border: 2px solid #ebebeb;
    padding-left: 25px;
    padding-top: 10px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #bdbdbd; /*не работает*/
    resize: none;
    }

    textarea:hover {
    background-color: lightsteelblue;
    /*outline: none;*/
    border: 2px solid #b3cbda;
    color: #5a5b5b;
    outline: 1px solid rgb(2, 129, 119);
    }

    .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .footer__box{
    display: flex;
    justify-content: center;
    margin-top: 47px;
    gap: 20px;
    }

    .footer__inner {
    display: flex;
    flex-direction: column;
    }

    .footer__input {
    width: 320px;
    }

    .footer__capcha {
    width: 160px;
    height: 60px;
    }

    .footer__text {
    margin-top: -10px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.04em;
    color: #82a6bf;
    position: relative;
    }

    .footer__button {
    width: 208px;
    height: 66px;
    background-color: #16ba98;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 24px;
    color: #ffffff;
    border: none;
    margin-top: 45px;
    position: relative;
    }