@font-face {
    font-family: 'Montserrat-Bold';
    src: url(./assets/fonts/Montserrat-Bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(./assets/fonts/Montserrat-Bold.ttf);
    font-display: swap;
}


/*body {
    background: url(./assets/images/background.png) no-repeat center/cover;
    height: 100vh;
    position: relative;
}

body::before {
    position: absolute;
    content:url(./assets/images/overlay.png);
    top: 0px;
    right: 0x;
    bottom: 0px;
    left: 0px;
}

.form {
    position: absolute;
    content:"";
    background-color: #fff;
    width: 920px;
    height: 820px;
    box-shadow: 0px 0px 36px 4px rgba(44,22,29,0.3);
    border-radius: 30px;
    top: 125px;
    right: 470px;
    /*background-position: center;
}

.header {
    position: relative;
}

.header__button {
    width: 35px;
    height: 35px;
    background-color: #e10101;
    border-radius: 50%;
    position: absolute;
    top: -19px;
    left: 415px;
    background-image: url(./assets/images/Ñ….png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    border: none;
}

.header__wrap {
    text-align: center;
}

.header__inner {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #b8b9b9;
}

.header__inner:last-child {
    color: #767777;
    text-decoration: none;
}



        /*display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 39px;
        font-family: 'Roboto-Regular', sans-serif;
        position: relative;
        color: grey;
    }

.header::before {
        content:url(./assets/images/wave-line.png);
        position: absolute;
        top: -45px;
        right: 400px;
    }

.header__inner {
    flex-direction: column;
    position: relative;
    flex-direction: row;
}
.header__title {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 38px;
    margin-bottom: 60px;
    position: relative;
    text-align: center;
}

.header__title::after {
    content:url(./assets/images/wave-line.png);
    position: absolute;
    bottom: -39px;
    left: 380px;
}

.form__main {
    padding: 50px 0 50px 0;
    background-color: rgb(245, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
}
.main__name {
    width: 499px;
    height:30px;
    padding-left: 18px;
}
.main__name:focus {
    background-color:lightsteelblue;
    outline: none;
    border-color:rgb(84, 169, 223)
}
.main__email {
    width: 499px;
    height:30px;
    padding-left: 18px;
}

.main__email:focus {
    background-color:lightsteelblue;
    outline: none;
    border-color:rgb(84, 169, 223)
}
.main__number {
    width: 499px;
    height:30px;
    padding-left: 18px;
}

.main__number:focus {
    background-color:lightsteelblue;
    outline: none;
    border-color:rgb(84, 169, 223)
}
.main__textarea {
    height: 130px;
    width: 500px;
    padding-left: 18px;
    padding-top: 10px;
    resize: none;
}

.main__textarea:focus {
    background-color:lightsteelblue;
    outline: none;
    border-color:rgb(84, 169, 223)
}

.form__footer {
    display:flex;
    justify-content: center;
}
.footer {

}
.footer__code {
    width: 300px;
    height:30px;  
    margin-top: 20px;  
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
    color: rgb(115, 189, 235);
}

.footer__code:focus {
    background-color:lightsteelblue;
    outline: none;
    border-color:rgb(84, 169, 223);
    color: black;
}

.footer__input {
}
.footer__text {
}
.footer__capcha {
    width: 140px;
    height: 50px;
    margin-top: 38px; 
    margin-left: 32px;
}

.footer__button {
    background-color: rgb(43, 165, 43);
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    content: "";
    text-align: center;
    position: absolute;
    left: -337px;
    bottom: -114px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 24px;
    position: relative;
}*/